<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <form action="getoneagent" method="post">
    Agents:
    <select name="AgentId" onchange="this.form.submit()">
      <option value="">Select an agent</option>
      <% result.forEach((agent)=>{ %>
      <option value="<%= agent.AgentId %>">
        <%= agent.AgtFirstName + ' ' + agent.AgtLastName %>
      </option>
      <% }); %>
    </select>
  </form>
</body>

</html>